# DSC 680 - Project 1
## 
# Daniel Angel
## 
# Summer 2024

## Data Cleansing Notebook

### Basic Cleaning Steps

#### Import Necessary Libraries

In [1]:
import pandas as pd
import numpy as np

#### Load in CSV to Dataframe

In [2]:
df_train = pd.read_csv('creditscore_classifier_datasets/train.csv', low_memory=False)
df_test = pd.read_csv('creditscore_classifier_datasets/test.csv', low_memory=False)

#### Observe Dataframe Shape,  First 20 Rows, and Column Types

In [3]:
df_train.shape

(100000, 28)

In [4]:
df_train.head(20)

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,0x1602,CUS_0xd40,January,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,_,809.98,26.822620,22 Years and 1 Months,No,49.574949,80.41529543900253,High_spent_Small_value_payments,312.49408867943663,Good
1,0x1603,CUS_0xd40,February,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,31.944960,NaN,No,49.574949,118.28022162236736,Low_spent_Large_value_payments,284.62916249607184,Good
2,0x1604,CUS_0xd40,March,Aaron Maashoh,-500,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,28.609352,22 Years and 3 Months,No,49.574949,81.699521264648,Low_spent_Medium_value_payments,331.2098628537912,Good
3,0x1605,CUS_0xd40,April,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,31.377862,22 Years and 4 Months,No,49.574949,199.4580743910713,Low_spent_Small_value_payments,223.45130972736786,Good
4,0x1606,CUS_0xd40,May,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,Good,809.98,24.797347,22 Years and 5 Months,No,49.574949,41.420153086217326,High_spent_Medium_value_payments,341.48923103222177,Good
5,0x1607,CUS_0xd40,June,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,27.262259,22 Years and 6 Months,No,49.574949,62.430172331195294,!@9#%8,340.4792117872438,Good
6,0x1608,CUS_0xd40,July,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,Good,809.98,22.537593,22 Years and 7 Months,No,49.574949,178.3440674122349,Low_spent_Small_value_payments,244.5653167062043,Good
7,0x1609,CUS_0xd40,August,NaN,23,#F%$D@*&8,Scientist,19114.12,1824.843333,3,...,Good,809.98,23.933795,NaN,No,49.574949,24.785216509052056,High_spent_Medium_value_payments,358.12416760938714,Standard
8,0x160e,CUS_0x21b1,January,Rick Rothackerj,28_,004-07-5839,_______,34847.84,3037.986667,2,...,Good,605.03,24.464031,26 Years and 7 Months,No,18.816215,104.291825168246,Low_spent_Small_value_payments,470.69062692529184,Standard
9,0x160f,CUS_0x21b1,February,Rick Rothackerj,28,004-07-5839,Teacher,34847.84,3037.986667,2,...,Good,605.03,38.550848,26 Years and 8 Months,No,18.816215,40.39123782853101,High_spent_Large_value_payments,484.5912142650067,Good
10,0x1610,CUS_0x21b1,March,Rick Rothackerj,28,004-07-5839,Teacher,34847.84_,3037.986667,2,...,_,605.03,33.224951,26 Years and 9 Months,No,18.816215,58.51597569589465,High_spent_Large_value_payments,466.46647639764313,Standard
11,0x1611,CUS_0x21b1,April,Rick Rothackerj,28,004-07-5839,Teacher,34847.84,NaN,2,...,Good,605.03,39.182656,26 Years and 10 Months,No,18.816215,99.30622796053305,Low_spent_Medium_value_payments,465.6762241330048,Good
12,0x1612,CUS_0x21b1,May,Rick Rothackerj,28,004-07-5839,Teacher,34847.84,3037.986667,2,...,Good,605.03,34.977895,26 Years and 11 Months,No,18.816215,130.11542024292334,Low_spent_Small_value_payments,444.8670318506144,Good
13,0x1613,CUS_0x21b1,June,Rick Rothackerj,28,004-07-5839,Teacher,34847.84,3037.986667,2,...,Good,605.03,33.381010,27 Years and 0 Months,No,18.816215,43.477190144355745,High_spent_Large_value_payments,481.505261949182,Good
14,0x1614,CUS_0x21b1,July,Rick Rothackerj,28,004-07-5839,Teacher,34847.84,NaN,2,...,Good,605.03,31.131702,27 Years and 1 Months,NM,18.816215,70.10177420755677,High_spent_Medium_value_payments,464.8806778859809,Good
15,0x1615,CUS_0x21b1,August,Rick Rothackerj,28,004-07-5839,Teacher,34847.84,3037.986667,2,...,Good,605.03,32.933856,27 Years and 2 Months,No,18.816215,218.90434353388733,Low_spent_Small_value_payments,356.07810855965045,Good
16,0x161a,CUS_0x2dbc,January,Langep,34,486-85-3974,_______,143162.64,12187.220000,1,...,Good,1303.01,28.616735,17 Years and 9 Months,No,246.992319,168.413702679309,!@9#%8,1043.3159778669492,Good
17,0x161b,CUS_0x2dbc,February,NaN,34,486-85-3974,Engineer,143162.64,12187.220000,1,...,Good,1303.01,41.702573,17 Years and 10 Months,No,246.992319,232.86038375993544,High_spent_Small_value_payments,998.8692967863226,Good
18,0x161c,CUS_0x2dbc,March,Langep,34,486-85-3974,_______,143162.64,NaN,1,...,Good,1303.01,26.519815,17 Years and 11 Months,No,246.992319,__10000__,High_spent_Small_value_payments,715.741367403555,Good
19,0x161d,CUS_0x2dbc,April,Langep,34,486-85-3974,Engineer,143162.64,12187.220000,1,...,_,1303.01,39.501648,NaN,No,246.992319,825.2162699393922,Low_spent_Medium_value_payments,426.5134106068658,Good

In [5]:
df_train.dtypes # Eventually we want to have all numeric so this is a good thing to check our status

ID                           object
Customer_ID                  object
Month                        object
Name                         object
Age                          object
SSN                          object
Occupation                   object
Annual_Income                object
Monthly_Inhand_Salary       float64
Num_Bank_Accounts             int64
Num_Credit_Card               int64
Interest_Rate                 int64
Num_of_Loan                  object
Type_of_Loan                 object
Delay_from_due_date           int64
Num_of_Delayed_Payment       object
Changed_Credit_Limit         object
Num_Credit_Inquiries        float64
Credit_Mix                   object
Outstanding_Debt             object
Credit_Utilization_Ratio    float64
Credit_History_Age           object
Payment_of_Min_Amount        object
Total_EMI_per_month         float64
Amount_invested_monthly      object
Payment_Behaviour            object
Monthly_Balance              object
Credit_Score                 object
dtype: object

#### Remove ID, Month, Name, SSN, and Monthly Salary Columns which are unnecessary and/or redundant

In [6]:
df_train.drop(columns=df_train.columns[[0,2,3,5,8]] ,inplace=True)

In [7]:
df_train.shape # Check to see that five columns were removed from the dataframe

(100000, 23)

#### Give certain column names aliases for ease and readability

In [8]:
df_train.rename(columns = {'Customer_ID':'ID', 'Occupation':'Job',
                           'Annual_Income':'Income' ,'Delay_from_due_date':'Days_delayed',
                           'Changed_Credit_Limit':'Limit_changed','Num_Credit_Inquiries':'Inquiries', 
                           'Payment_of_Min_Amount':'Min_Amt_Paid', 'Total_EMI_per_month':'EMI',
                           'Payment_Behaviour':'Payment_Behavior'},inplace = True)

In [9]:
print(*list(df_train.columns), sep=', ')

ID, Age, Job, Income, Num_Bank_Accounts, Num_Credit_Card, Interest_Rate, Num_of_Loan, Type_of_Loan, Days_delayed, Num_of_Delayed_Payment, Limit_changed, Inquiries, Credit_Mix, Outstanding_Debt, Credit_Utilization_Ratio, Credit_History_Age, Min_Amt_Paid, EMI, Amount_invested_monthly, Payment_Behavior, Monthly_Balance, Credit_Score

#### Split Dataframe into two dataframes containing target and feature variables

In [10]:
target=df_train[df_train.columns[[-1]]]

In [11]:
features=df_train.drop(columns=df_train.columns[[-1]])

##### Observe a single row at our current level of cleaning progress

In [12]:
features.iloc[17]

ID                                                       CUS_0x2dbc
Age                                                              34
Job                                                        Engineer
Income                                                    143162.64
Num_Bank_Accounts                                                 1
Num_Credit_Card                                                   5
Interest_Rate                                                     8
Num_of_Loan                                                       3
Type_of_Loan                Auto Loan, Auto Loan, and Not Specified
Days_delayed                                                     13
Num_of_Delayed_Payment                                            6
Limit_changed                                                   7.1
Inquiries                                                       3.0
Credit_Mix                                                     Good
Outstanding_Debt                                            1303.01
Credit_Utilization_Ratio                                  41.702573
Credit_History_Age                           17 Years and 10 Months
Min_Amt_Paid                                                     No
EMI                                                      246.992319
Amount_invested_monthly                          232.86038375993544
Payment_Behavior                    High_spent_Small_value_payments
Monthly_Balance                                   998.8692967863226
Name: 17, dtype: object

### Advanced Data Cleaning and Manipulation

#### Convert Credit History Age from "__ Years and __ Months" format into a decimal by defining and applying a function

In [13]:
def year_float(y_and_m): # Define a function which will convert "__ Years and __ Months" into float
    try:
        newstring_list = y_and_m.rstrip().rstrip(' Months').split(' Years and ') # Remove words and spaces
        age_as_float = float(newstring_list[0]) + float(newstring_list[1])/12 # Perform calculation
        return age_as_float
    except:
        return np.nan

In [14]:
features['Credit_History_Age'] = features['Credit_History_Age'].apply(year_float)

#### Remove Trailing or Placholder Underscores with Empty Strings in Numeric Columns

In [15]:
def remove_underscores(number): # Define a function to replace underscores with empty strings
    try : 
        return number.replace("_","")
    except :
        return np.nan
    
Numeric_col_list = ['Age', 'Income', 'Num_of_Loan',  # List numeric columns containing underscores
                    'Num_of_Delayed_Payment','Limit_changed',
                    'Outstanding_Debt' ,'Amount_invested_monthly',  
                    'Monthly_Balance']

for col in Numeric_col_list:  # Apply our underscore removing function to the numeric columns containing them
    features[col] = features[col].apply(remove_underscores)

In [ ]:
"""
# Initially, this was designed to change the string in the loan types column to a list. I abandoned this idea.

def remove_and_spaces_split(strng):
    try : 
        return [strg.strip() for strg in strng.replace('and', '').split(',')]
    
    except :
        return None
features['Type_of_Loan'] = features['Type_of_Loan'].apply(remove_and_spaces_split)"""

#### Remove Empty strings from Limit Changed column and replace with NaN's

In [16]:
def stripper(string):
    return string.strip()

In [17]:
features['Limit_changed'] = features['Limit_changed'].apply(stripper)

In [18]:
features['Limit_changed'] = features['Limit_changed'].replace("",np.nan)

#### Define an imputer function to fill NaN's when fixed intervals of data are related

In [19]:
pd.options.mode.chained_assignment = None # Supress chained assignment warnings

In [20]:
"""This function is more general when data loops at a certain interval. For every entry except the first
in an interval it will forward-fill. For the first entry in an interval it will back-fill. This is done 
so that when you are filling missing data you are doing it from a row which is more closely related.

dataset and col_name parameters are fairly self explanatory. loop_size is how many rows consecutively
are related. In our data frame it is 8 because each customer has 8 months of data.
range_length parameter is a subset (or the entirety) of rows where you want missing entries filled."""

def my_imputer(dataset, col_name, loop_size, range_length):
    for ind in range(0,range_length):
        if (pd.isna(dataset[col_name][ind])):
            if ind % loop_size == 0 :
                dataset[col_name][ind]=dataset[col_name].fillna(method='bfill')[ind]
            else:
                dataset[col_name][ind]=dataset[col_name].fillna(method='ffill')[ind]
        else:
            pass

#### List all columns containing missing entries and amount of missing entries in each

In [21]:
features.loc[:, features.isna().any()].isna().sum()

Type_of_Loan               11408
Num_of_Delayed_Payment      7002
Limit_changed               2091
Inquiries                   1965
Credit_History_Age          9030
Amount_invested_monthly     4479
Monthly_Balance             1200
dtype: int64

All customers with Zero number of loans should have No loans listed as type of loan
All customers with NaN / Null type of loans should have zero number of loans and no loans listed as type of loan

In [22]:
features.loc[features['Num_of_Loan'] == '0', 'Type_of_Loan'] = 'No Loans'

In [23]:
features.loc[:, features.isna().any()].isna().sum()

Type_of_Loan                478
Num_of_Delayed_Payment     7002
Limit_changed              2091
Inquiries                  1965
Credit_History_Age         9030
Amount_invested_monthly    4479
Monthly_Balance            1200
dtype: int64

In [24]:
my_imputer(dataset=features, col_name='Type_of_Loan', loop_size=8, range_length=100000)

num delayed payment -- generally better to fill with median

In [25]:
for ind in features[features.Num_of_Delayed_Payment.isna()].index:
    id_of_missing = features.ID[ind]
    features.Num_of_Delayed_Payment[ind] = features[features.ID==id_of_missing]['Num_of_Delayed_Payment'].median()

Inquiries - forward fill or backward fill is fine. Imputer will work

In [26]:
my_imputer(dataset=features, col_name='Inquiries', loop_size=8, range_length=100000)

limit changed

In [27]:
for ind in features[features.Limit_changed.isna()].index:
    id_of_missing = features.ID[ind]
    features.Limit_changed[ind] = features[features.ID==id_of_missing]['Limit_changed'].median()

amount invested monthly

In [28]:
for ind in features[features.Amount_invested_monthly.isna()].index:
    id_of_missing = features.ID[ind]
    features.Amount_invested_monthly[ind] = features[features.ID==id_of_missing]['Amount_invested_monthly'].median()

Median should be used to fill in missing balances

In [29]:
for ind in features[features.Monthly_Balance.isna()].index:
    id_of_missing = features.ID[ind]
    features.Monthly_Balance[ind] = features[features.ID==id_of_missing]['Monthly_Balance'].median()

In [30]:
list_columns_with_missings = list(features.columns[features.isna().any()])
list_columns_with_missings # This list contains the column headers of columns containing missing values

['Credit_History_Age']

In [ ]:
"""The Credit_History_Age column is easy enough to infer missing entries by adding a month
to the previous or removing a month from the subsequent. If we were to use forward-fill
or backward-fill this would create inaccurate data. The age of the credit history being
incorrect by .083 is probably not impactful but the fact that 9% of our data is missing
this entry makes it worthwhile to do the extra effort. For this reason I will remove
Credit_History_Age from the columns that I will apply my simple imputer to."""

list_columns_with_missings.remove('Credit_History_Age')
list_columns_with_missings

#### Use my imputer function to fill in missing entries

In [ ]:
# This for loop will apply my simple forward- or back- filling imputer to columns with missing entries

for col in list_columns_with_missings:
    my_imputer(dataset=features, col_name=col, loop_size=8, range_length=100000)

In [31]:
features.isnull().sum(axis = 0) # Check to see missing entries have been filled

ID                             0
Age                            0
Job                            0
Income                         0
Num_Bank_Accounts              0
Num_Credit_Card                0
Interest_Rate                  0
Num_of_Loan                    0
Type_of_Loan                   0
Days_delayed                   0
Num_of_Delayed_Payment         0
Limit_changed                  0
Inquiries                      0
Credit_Mix                     0
Outstanding_Debt               0
Credit_Utilization_Ratio       0
Credit_History_Age          9030
Min_Amt_Paid                   0
EMI                            0
Amount_invested_monthly        0
Payment_Behavior               0
Monthly_Balance                0
dtype: int64

#### Fix Credit History Age column by replacing missing entries. Add a month to the previous or subtract a month from the following entry

In [32]:
# This for loop follows a similar logic to our imputer function
# However, rather than backfill or forwardfill it subtracts or adds a month
# Relative to a year the value of a month is 1/12th

for ind in range(0,100000):
    if pd.isna(features.Credit_History_Age[ind]):
        if ind % 8 == 0 :
            try:
                features.Credit_History_Age[ind] = features.Credit_History_Age[ind+1] - (1/12)
            except:
                pass
        else: 
            try:
                features.Credit_History_Age[ind] = features.Credit_History_Age[ind-1] + (1/12)
            except:
                pass
    else:
        pass

In [33]:
features.Credit_History_Age.isnull().sum() # Check how many missings remain from the initial 9030

224

In [34]:
# Sometimes there are two missing Credit History Age entries in a row so we need to run the loop again

for ind in range(0,100000):
    if pd.isna(features.Credit_History_Age[ind]):
        if ind % 8 == 0 :
            try:
                features.Credit_History_Age[ind] = features.Credit_History_Age[ind+2] - (2/12)
            except:
                pass
        else: 
            try:
                features.Credit_History_Age[ind] = features.Credit_History_Age[ind-1] + (1/12)
            except:
                pass
    else:
        pass

In [35]:
features.Credit_History_Age.isnull().sum()

28

In [36]:
# This code chunk creates a list containing which contains the months where Credit History Age is missing
# 0 = January, 1= February etc.

missing_index_modulo_list =[]
for ind in range(0,100000):
    if pd.isna(features.Credit_History_Age[ind]):
        missing_index_modulo_list.append(ind%8)

In [37]:
pd.unique(missing_index_modulo_list) 

# By looking at the unique values of our month list we know Credit History Age is only missing
# In the months January, February, March, and April

array([0, 1, 2, 3])

In [38]:
# This final for loop jumps four months ahead to fill in the missing data. Even if the customer 
# is missing their Credit_History_Age in April jumping four months forward still puts us in August

for ind in range(0,100000):
    if pd.isna(features.Credit_History_Age[ind]):
        try:
            features.Credit_History_Age[ind] = features.Credit_History_Age[ind+4] - (4/12)
         
        except:
             pass
    else:
        pass

In [39]:
features.Credit_History_Age.isnull().sum() # Should return 0 now

0

#### Convert should-be Numeric Columns to Numeric

In [40]:
features.select_dtypes(exclude=[np.number]).columns # List columns that don't have numeric data type

Index(['ID', 'Age', 'Job', 'Income', 'Num_of_Loan', 'Type_of_Loan',
       'Num_of_Delayed_Payment', 'Limit_changed', 'Credit_Mix',
       'Outstanding_Debt', 'Min_Amt_Paid', 'Amount_invested_monthly',
       'Payment_Behavior', 'Monthly_Balance'],
      dtype='object')

In [41]:
Numeric_col_list # This list is accurate. It contains the columns above which aren't categorical

['Age',
 'Income',
 'Num_of_Loan',
 'Num_of_Delayed_Payment',
 'Limit_changed',
 'Outstanding_Debt',
 'Amount_invested_monthly',
 'Monthly_Balance']

In [42]:
Numeric_col_list.remove('Limit_changed') 
# Coerce error paramter is not correct for converting this column so we will do it separately

In [43]:
for col in Numeric_col_list:
    features[col] = pd.to_numeric((features[col]), errors='coerce')

In [44]:
features['Limit_changed'] = pd.to_numeric(features['Limit_changed'])

In [45]:
features.isnull().sum(axis = 0)

ID                          0
Age                         0
Job                         0
Income                      0
Num_Bank_Accounts           0
Num_Credit_Card             0
Interest_Rate               0
Num_of_Loan                 0
Type_of_Loan                0
Days_delayed                0
Num_of_Delayed_Payment      0
Limit_changed               0
Inquiries                   0
Credit_Mix                  0
Outstanding_Debt            0
Credit_Utilization_Ratio    0
Credit_History_Age          0
Min_Amt_Paid                0
EMI                         0
Amount_invested_monthly     0
Payment_Behavior            0
Monthly_Balance             0
dtype: int64

In [46]:
features.select_dtypes(exclude=[np.number]).columns # Check to see only categorical columns remain

Index(['ID', 'Job', 'Type_of_Loan', 'Credit_Mix', 'Min_Amt_Paid',
       'Payment_Behavior'],
      dtype='object')

#### Handling of Outliers

##### Find which columns contain outliers

In [47]:
features.describe()

,Age,Income,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Days_delayed,Num_of_Delayed_Payment,Limit_changed,Inquiries,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,EMI,Amount_invested_monthly,Monthly_Balance
count,100000.000000,1.000000e+05,100000.000000,100000.00000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,1.000000e+05
mean,110.649700,1.764157e+05,17.091280,22.47443,72.466040,3.009960,21.068780,29.693800,10.389113,27.700090,1426.220376,32.285173,18.433907,1403.118217,617.257610,-3.000000e+22
std,686.244717,1.429618e+06,117.404834,129.05741,466.422621,62.647879,14.860104,218.027042,6.783421,192.889529,1155.129026,5.116875,8.306759,8306.041270,1999.677146,3.162151e+24
min,-500.000000,7.005930e+03,-1.000000,0.00000,1.000000,-100.000000,-5.000000,-3.000000,-6.490000,0.000000,0.230000,20.000000,0.083333,0.000000,0.000000,-3.333333e+26
25%,24.000000,1.945750e+04,3.000000,4.00000,8.000000,1.000000,10.000000,9.000000,5.340000,3.000000,566.072500,28.052567,12.000000,30.306660,75.356284,2.703078e+02
50%,33.000000,3.757861e+04,6.000000,5.00000,13.000000,3.000000,18.000000,14.000000,9.400000,6.000000,1166.155000,32.305784,18.250000,69.249473,136.173912,3.372525e+02
75%,42.000000,7.279092e+04,7.000000,7.00000,20.000000,5.000000,28.000000,18.000000,14.850000,9.000000,1945.962500,36.496663,25.166667,161.224249,263.231662,4.719186e+02
max,8698.000000,2.419806e+07,1798.000000,1499.00000,5797.000000,1496.000000,67.000000,4397.000000,36.970000,2597.000000,4998.070000,50.000000,33.666667,82331.000000,10000.000000,1.602041e+03

In [48]:
outlier_column_list= ['Age', 'Income', 'Num_Bank_Accounts', 'Num_Credit_Card', 'Interest_Rate', 'Num_of_Loan', 
                      'Num_of_Delayed_Payment', 'Inquiries', 'EMI']

##### Define function to find and replace outliers

In [49]:
"""This function finds outliers by first finding the interquartile range. This is calculated as
the difference between Q3 (75th percentile) and Q1 (25th percentile). Then 1.5 times the IQR
is added to Q3 and subtracted from Q1 to find the upper and lower limits, respectively.
Then we find the indices of the rows in our dataset that are outside of these bounds for our
chosen feature. The threshold can be chosen to decide how extreme of outliers are considered.
1.5 is typical."""

def find_outliers(dataset, feature, threshold):
    outlier_indices = []
    Q1 = np.percentile(dataset[feature],25)
    Q3 = np.percentile(dataset[feature],75)
    IQR = (Q3-Q1)
    upper_limt = Q3 + ((IQR * threshold))
    lower_limt = Q1 - ((IQR * threshold))
    outlier_list_col = dataset[(dataset[feature] < lower_limt) | (dataset[feature] > upper_limt)].index
    outlier_indices.extend(outlier_list_col)
    return outlier_indices

In [50]:
for col in outlier_column_list: # Find how many outliers each column contains
    print(col)
    print(len(find_outliers(dataset=features, feature=col, threshold=1.5)))

Age
2781
Income
2783
Num_Bank_Accounts
1315
Num_Credit_Card
2271
Interest_Rate
2034
Num_of_Loan
4348
Num_of_Delayed_Payment
736
Inquiries
1680
EMI
6795

In [ ]:
"""This function when provided with the outlier indices will remove the outliers from the chosen
feature column of our given dataset. It does this by replacing outliers with a NaN. Then it replaces
this NaN with the median which is calculated from the known entries which exists for the other months
of that feature for that particular customer's records."""

def replace_outliers(dataset, feature, outlier_indices):
    dataset[feature][outlier_indices] = np.nan
    for outlier_index in outlier_indices:
        missing_id = dataset['ID'][outlier_index]
        median_of_missing = dataset[dataset.ID == missing_id][feature].median()
        dataset[feature][outlier_index] = median_of_missing
    replaced_column = dataset[feature]
    return replaced_column

In [51]:
"""This function when provided with the outlier indices will remove the outliers from the chosen
feature column of our given dataset. It does this by replacing outliers with a NaN. Then it replaces
this NaN with the median which is calculated from the known entries which exists for the other months
of that feature for that particular customer's records."""

def replace_outliers(dataset, feature, outlier_indices):
    for outlier_index in outlier_indices:
        missing_id = dataset['ID'][outlier_index]
        median_of_missing = dataset[dataset.ID == missing_id][feature].median()
        dataset[feature][outlier_index] = median_of_missing
    replaced_column = dataset[feature]
    return replaced_column

In [52]:
def find_and_replace_outliers(dataset, feature, threshold):
    repd = replace_outliers(dataset, feature, outlier_indices=find_outliers(dataset, feature, threshold))
    return repd

##### Apply our function to find and replace outliers to the columns containing them

In [55]:
# Loop through the columns with outliers and apply the find_and_replace_outliers function iteratively
for col in outlier_column_list:
    features[col] = find_and_replace_outliers(dataset=features, feature=col, threshold=1.5)

In [56]:
# Verify to see most if not all outliers are removed
for col in outlier_column_list: # Find how many outliers each column contains
    print(col)
    print(len(find_outliers(dataset=features, feature=col, threshold=1.5)))

Age
0
Income
2000
Num_Bank_Accounts
0
Num_Credit_Card
0
Interest_Rate
0
Num_of_Loan
0
Num_of_Delayed_Payment
0
Inquiries
771
EMI
4806

In [59]:
# Loop through the columns with outliers and apply the find_and_replace_outliers function iteratively
for col in outlier_column_list:
    features[col] = find_and_replace_outliers(dataset=features, feature=col, threshold=1.5)

In [68]:
# Verify to see most if not all outliers are removed
for col in outlier_column_list: # Find how many outliers each column contains
    print(col)
    print(len(find_outliers(dataset=features, feature=col, threshold=1.5)))

Age
0
Income
2000
Num_Bank_Accounts
0
Num_Credit_Card
0
Interest_Rate
0
Num_of_Loan
0
Num_of_Delayed_Payment
0
Inquiries
497
EMI
4762

In [64]:
features.isnull().sum(axis = 0)

ID                          0
Age                         0
Job                         0
Income                      0
Num_Bank_Accounts           0
Num_Credit_Card             0
Interest_Rate               0
Num_of_Loan                 0
Type_of_Loan                0
Days_delayed                0
Num_of_Delayed_Payment      0
Limit_changed               0
Inquiries                   0
Credit_Mix                  0
Outstanding_Debt            0
Credit_Utilization_Ratio    0
Credit_History_Age          0
Min_Amt_Paid                0
EMI                         0
Amount_invested_monthly     0
Payment_Behavior            0
Monthly_Balance             0
dtype: int64

In [61]:
# Find and replace the outliers in the Limit_Changed column
features['Limit_changed'] = find_and_replace_outliers(dataset=features, feature='Limit_changed', threshold=1.5)

In [67]:
# Verify if maximum and minimum values of numeric columns are more reasonable
features.describe()

,Age,Income,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Days_delayed,Num_of_Delayed_Payment,Limit_changed,Inquiries,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,EMI,Amount_invested_monthly,Monthly_Balance
count,100000.000000,100000.000000,100000.000000,100000.000000,100000.00000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,1.000000e+05
mean,33.310680,50505.123449,5.368660,5.533680,14.53208,3.532880,21.068780,13.316655,10.374345,5.766949,1426.220376,32.285173,18.433907,104.367292,617.257610,-3.000000e+22
std,10.764736,38299.422093,2.593761,2.067126,8.74133,2.446356,14.860104,6.302094,6.742179,3.835971,1155.129026,5.116875,8.306759,120.696544,1999.677146,3.162151e+24
min,14.000000,7005.930000,-1.000000,0.000000,1.00000,0.000000,-5.000000,-3.000000,-6.490000,0.000000,0.230000,20.000000,0.083333,0.000000,0.000000,-3.333333e+26
25%,24.000000,19342.972500,3.000000,4.000000,7.00000,2.000000,10.000000,9.000000,5.340000,3.000000,566.072500,28.052567,12.000000,29.131335,75.356284,2.703078e+02
50%,33.000000,36999.705000,5.000000,5.000000,13.00000,3.000000,18.000000,14.000000,9.400000,5.000000,1166.155000,32.305784,18.250000,66.310456,136.173912,3.372525e+02
75%,42.000000,71683.470000,7.000000,7.000000,20.00000,5.000000,28.000000,18.000000,14.850000,8.000000,1945.962500,36.496663,25.166667,145.639552,263.231662,4.719186e+02
max,56.000000,179987.280000,11.000000,11.000000,34.00000,9.000000,67.000000,28.000000,29.980000,17.000000,4998.070000,50.000000,33.666667,1779.103254,10000.000000,1.602041e+03

In [66]:
# Iterate once more to remove remaining outliers in 'Inquiries' column
features['Inquiries'] = find_and_replace_outliers(dataset=features, feature='Inquiries', threshold=1.5)

#### Remove negative values where unreasonable

In [69]:
"""A negative number of bank accounts is nonsensical. Let us rectify this error.
 I manually checked and the customers who have negative bank account numbers in one or
 more rows have a Zero entry in the majority of their other months' records"""

features.Num_Bank_Accounts[features[features.Num_Bank_Accounts < 0].index] = 0

In [70]:
# Let's find the row numbers (index) where the 'Number of Delayed Payment' column has negative values
negative_delayed_payments = features[features.Num_of_Delayed_Payment < 0].index

##### For loops to iteratively remove negative numbers of delayed payments

In [71]:
for ind in negative_delayed_payments:
    if ind % 8 == 0 :
        features.Num_of_Delayed_Payment[ind]=features.Num_of_Delayed_Payment[ind+1]
    else:
        features.Num_of_Delayed_Payment[ind]=features.Num_of_Delayed_Payment[ind-1]

In [72]:
negative_delayed_payments = features[features.Num_of_Delayed_Payment < 0].index
for ind in negative_delayed_payments:
    if ind % 8 == 0 :
        features.Num_of_Delayed_Payment[ind]=features.Num_of_Delayed_Payment[ind+2]
    else:
        features.Num_of_Delayed_Payment[ind]=features.Num_of_Delayed_Payment[ind-1]

In [73]:
negative_delayed_payments = features[features.Num_of_Delayed_Payment < 0].index
for ind in negative_delayed_payments:
    if ind % 8 == 0 :
        features.Num_of_Delayed_Payment[ind]=features.Num_of_Delayed_Payment[ind+3]
    else:
        features.Num_of_Delayed_Payment[ind]=features.Num_of_Delayed_Payment[ind-1]

In [74]:
negative_delayed_payments = features[features.Num_of_Delayed_Payment < 0].index
for ind in negative_delayed_payments:
    if ind % 8 == 0 :
        features.Num_of_Delayed_Payment[ind]=features.Num_of_Delayed_Payment[ind+4]
    else:
        features.Num_of_Delayed_Payment[ind]=features.Num_of_Delayed_Payment[ind-1]

In [75]:
features[features.Num_of_Delayed_Payment < 0].index

Int64Index([], dtype='int64')

In [76]:
len(features[features.Num_of_Delayed_Payment < 0].index)

0

##### Employ similar process as above to remove negative monthly balances

In [77]:
negative_balances = features[features.Monthly_Balance < 0].index

In [78]:
for ind in negative_balances:
    if ind % 8 == 0 :
        features.Monthly_Balance[ind]=features.Monthly_Balance[ind+1]
    else:
        features.Monthly_Balance[ind]=features.Monthly_Balance[ind-1]

In [79]:
features.describe()

,Age,Income,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Days_delayed,Num_of_Delayed_Payment,Limit_changed,Inquiries,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,EMI,Amount_invested_monthly,Monthly_Balance
count,100000.000000,100000.000000,100000.000000,100000.000000,100000.00000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000
mean,33.310680,50505.123449,5.368870,5.533680,14.53208,3.532880,21.068780,13.334060,10.374345,5.766949,1426.220376,32.285173,18.433907,104.367292,617.257610,403.495486
std,10.764736,38299.422093,2.593286,2.067126,8.74133,2.446356,14.860104,6.264674,6.742179,3.835971,1155.129026,5.116875,8.306759,120.696544,1999.677146,214.421736
min,14.000000,7005.930000,0.000000,0.000000,1.00000,0.000000,-5.000000,0.000000,-6.490000,0.000000,0.230000,20.000000,0.083333,0.000000,0.000000,0.007760
25%,24.000000,19342.972500,3.000000,4.000000,7.00000,2.000000,10.000000,9.000000,5.340000,3.000000,566.072500,28.052567,12.000000,29.131335,75.356284,270.323051
50%,33.000000,36999.705000,5.000000,5.000000,13.00000,3.000000,18.000000,14.000000,9.400000,5.000000,1166.155000,32.305784,18.250000,66.310456,136.173912,337.280888
75%,42.000000,71683.470000,7.000000,7.000000,20.00000,5.000000,28.000000,18.000000,14.850000,8.000000,1945.962500,36.496663,25.166667,145.639552,263.231662,471.928804
max,56.000000,179987.280000,11.000000,11.000000,34.00000,9.000000,67.000000,28.000000,29.980000,17.000000,4998.070000,50.000000,33.666667,1779.103254,10000.000000,1602.040519

In [80]:
features.dtypes # Check to see numeric columns are numeric(float or int) and categorical are object

ID                           object
Age                           int64
Job                          object
Income                      float64
Num_Bank_Accounts             int64
Num_Credit_Card               int64
Interest_Rate                 int64
Num_of_Loan                   int64
Type_of_Loan                 object
Days_delayed                  int64
Num_of_Delayed_Payment      float64
Limit_changed               float64
Inquiries                   float64
Credit_Mix                   object
Outstanding_Debt            float64
Credit_Utilization_Ratio    float64
Credit_History_Age          float64
Min_Amt_Paid                 object
EMI                         float64
Amount_invested_monthly     float64
Payment_Behavior             object
Monthly_Balance             float64
dtype: object

#### Fixing and encoding categorical variables

Some of the categorical variables contain odd entries. It needs to be determined if they are errors created through encoding,
at the time of data collection, are placeholders, represent another category value, or are somehow another form of mistake.

##### Fix Job variable

In [81]:
pd.unique(features.Job)

array(['Scientist', '_______', 'Teacher', 'Engineer', 'Entrepreneur',
       'Developer', 'Lawyer', 'Media_Manager', 'Doctor', 'Journalist',
       'Manager', 'Accountant', 'Musician', 'Mechanic', 'Writer',
       'Architect'], dtype=object)

In [82]:
for ID in features[features['Job'] == "_______"]['ID'] : 
    common_job = features[features['ID'] == ID]['Job'].mode()[0]
    features[features['ID'] == ID] = features[features['ID'] == ID].replace("_______",common_job)

In [83]:
len(features[features.Job == "_______"])

5

In [84]:
features['Job'] = features['Job'].replace("_______",features['Job'].mode()[0])

In [85]:
len(features[features.Job == "_______"])

0

##### Fix Payment Behavior variable

In [86]:
pd.unique(features.Payment_Behavior)

array(['High_spent_Small_value_payments',
       'Low_spent_Large_value_payments',
       'Low_spent_Medium_value_payments',
       'Low_spent_Small_value_payments',
       'High_spent_Medium_value_payments', '!@9#%8',
       'High_spent_Large_value_payments'], dtype=object)

In [87]:
for ID in features[features['Payment_Behavior'] == "!@9#%8"]['ID'] : 
    behave = features[features['ID'] == ID]['Payment_Behavior'].mode()[0]
    features[features['ID'] == ID] = features[features['ID'] == ID].replace("!@9#%8",behave)

In [88]:
len(features[features['Payment_Behavior'] == "!@9#%8"])

1736

In [89]:
features['Payment_Behavior'] = features['Payment_Behavior'].replace("!@9#%8",features['Payment_Behavior'].mode()[0])

In [90]:
len(features[features['Payment_Behavior'] == "!@9#%8"])

0

##### Fix Credit Mix variable

In [91]:
pd.unique(features.Credit_Mix)

array(['_', 'Good', 'Standard', 'Bad'], dtype=object)

In [92]:
for ID in features[features['Credit_Mix'] == "_"]['ID'] : 
    mix = features[features['ID'] == ID]['Credit_Mix'].mode()[0]
    features[features['ID'] == ID] = features[features['ID'] == ID].replace("_",mix)

In [93]:
len(features[features['Credit_Mix'] == "_"])

671

In [94]:
features['Credit_Mix'] = features['Credit_Mix'].replace("_",features['Credit_Mix'].mode()[0])

In [95]:
len(features[features['Credit_Mix'] == "_"])

0

##### Manually create dummy columns for Loan Types

In [96]:
# List of loan types
loan_type_list = ['Not Specified','Credit-Builder Loan','Debt Consolidation Loan','Personal Loan','Payday Loan',
                  'Mortgage Loan','Student Loan','Home Equity Loan','Auto Loan']

In [97]:
"""For each loan type create a column. Return a boolean if that loan type's string is contained within
the entire loan type string."""

for loan_type in loan_type_list: 
    features[loan_type] = features['Type_of_Loan'].str.contains(loan_type)

In [98]:
# Convert Boolean to binary
for loan_type in loan_type_list:
    features[loan_type] = features[loan_type].astype(int)

In [99]:
# Now that our dummy loan type columns have been created we can remove the original loan type column from the data frame

del features['Type_of_Loan']

#### Encode categorical variables to numeric with dummies

In [100]:
features_dumb = pd.get_dummies(features, columns =['Job','Credit_Mix','Min_Amt_Paid','Payment_Behavior'], drop_first=True)

In [101]:
features_dumb.columns

Index(['ID', 'Age', 'Income', 'Num_Bank_Accounts', 'Num_Credit_Card',
       'Interest_Rate', 'Num_of_Loan', 'Days_delayed',
       'Num_of_Delayed_Payment', 'Limit_changed', 'Inquiries',
       'Outstanding_Debt', 'Credit_Utilization_Ratio', 'Credit_History_Age',
       'EMI', 'Amount_invested_monthly', 'Monthly_Balance', 'Not Specified',
       'Credit-Builder Loan', 'Debt Consolidation Loan', 'Personal Loan',
       'Payday Loan', 'Mortgage Loan', 'Student Loan', 'Home Equity Loan',
       'Auto Loan', 'Job_Architect', 'Job_Developer', 'Job_Doctor',
       'Job_Engineer', 'Job_Entrepreneur', 'Job_Journalist', 'Job_Lawyer',
       'Job_Manager', 'Job_Mechanic', 'Job_Media_Manager', 'Job_Musician',
       'Job_Scientist', 'Job_Teacher', 'Job_Writer', 'Credit_Mix_Good',
       'Credit_Mix_Standard', 'Min_Amt_Paid_No', 'Min_Amt_Paid_Yes',
       'Payment_Behavior_High_spent_Medium_value_payments',
       'Payment_Behavior_High_spent_Small_value_payments',
       'Payment_Behavior_Low_spent_Large_value_payments',
       'Payment_Behavior_Low_spent_Medium_value_payments',
       'Payment_Behavior_Low_spent_Small_value_payments'],
      dtype='object')

In [102]:
# ID column was useful when cleaning the dataset but is not required for analysis

features_cleaned = features_dumb.drop(columns='ID')

In [103]:
features_cleaned

,Age,Income,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Days_delayed,Num_of_Delayed_Payment,Limit_changed,Inquiries,...,Job_Writer,Credit_Mix_Good,Credit_Mix_Standard,Min_Amt_Paid_No,Min_Amt_Paid_Yes,Payment_Behavior_High_spent_Medium_value_payments,Payment_Behavior_High_spent_Small_value_payments,Payment_Behavior_Low_spent_Large_value_payments,Payment_Behavior_Low_spent_Medium_value_payments,Payment_Behavior_Low_spent_Small_value_payments
0,23,19114.12,3,4,3,4,3,7.0,11.27,4.0,...,0,1,0,1,0,0,1,0,0,0
1,23,19114.12,3,4,3,4,-1,6.5,11.27,4.0,...,0,1,0,1,0,0,0,1,0,0
2,23,19114.12,3,4,3,4,3,7.0,11.27,4.0,...,0,1,0,1,0,0,0,0,1,0
3,23,19114.12,3,4,3,4,5,4.0,6.27,4.0,...,0,1,0,1,0,0,0,0,0,1
4,23,19114.12,3,4,3,4,6,6.5,11.27,4.0,...,0,1,0,1,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,25,39628.99,4,6,7,2,23,7.0,11.50,3.0,...,0,1,0,1,0,0,0,0,0,0
99996,25,39628.99,4,6,7,2,18,7.0,11.50,3.0,...,0,1,0,1,0,1,0,0,0,0
99997,25,39628.99,4,6,7,2,27,6.0,11.50,3.0,...,0,1,0,1,0,0,0,0,0,0
99998,25,39628.99,4,6,7,2,20,6.0,11.50,3.0,...,0,1,0,1,0,0,0,1,0,0
99999,25,39628.99,4,6,7,2,18,6.0,11.50,3.0,...,0,1,0,1,0,0,0,0,0,0

In [104]:
features_cleaned.isna().sum()

Age                                                  0
Income                                               0
Num_Bank_Accounts                                    0
Num_Credit_Card                                      0
Interest_Rate                                        0
Num_of_Loan                                          0
Days_delayed                                         0
Num_of_Delayed_Payment                               0
Limit_changed                                        0
Inquiries                                            0
Outstanding_Debt                                     0
Credit_Utilization_Ratio                             0
Credit_History_Age                                   0
EMI                                                  0
Amount_invested_monthly                              0
Monthly_Balance                                      0
Not Specified                                        0
Credit-Builder Loan                                  0
Debt Consolidation Loan                              0
Personal Loan                                        0
Payday Loan                                          0
Mortgage Loan                                        0
Student Loan                                         0
Home Equity Loan                                     0
Auto Loan                                            0
Job_Architect                                        0
Job_Developer                                        0
Job_Doctor                                           0
Job_Engineer                                         0
Job_Entrepreneur                                     0
Job_Journalist                                       0
Job_Lawyer                                           0
Job_Manager                                          0
Job_Mechanic                                         0
Job_Media_Manager                                    0
Job_Musician                                         0
Job_Scientist                                        0
Job_Teacher                                          0
Job_Writer                                           0
Credit_Mix_Good                                      0
Credit_Mix_Standard                                  0
Min_Amt_Paid_No                                      0
Min_Amt_Paid_Yes                                     0
Payment_Behavior_High_spent_Medium_value_payments    0
Payment_Behavior_High_spent_Small_value_payments     0
Payment_Behavior_Low_spent_Large_value_payments      0
Payment_Behavior_Low_spent_Medium_value_payments     0
Payment_Behavior_Low_spent_Small_value_payments      0
dtype: int64

In [105]:
features_cleaned.describe()

,Age,Income,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Days_delayed,Num_of_Delayed_Payment,Limit_changed,Inquiries,...,Job_Writer,Credit_Mix_Good,Credit_Mix_Standard,Min_Amt_Paid_No,Min_Amt_Paid_Yes,Payment_Behavior_High_spent_Medium_value_payments,Payment_Behavior_High_spent_Small_value_payments,Payment_Behavior_Low_spent_Large_value_payments,Payment_Behavior_Low_spent_Medium_value_payments,Payment_Behavior_Low_spent_Small_value_payments
count,100000.000000,100000.000000,100000.000000,100000.000000,100000.00000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,...,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000
mean,33.310680,50505.123449,5.368870,5.533680,14.53208,3.532880,21.068780,13.334060,10.374345,5.766949,...,0.063040,0.302250,0.461700,0.356670,0.523260,0.189110,0.117710,0.107680,0.144140,0.292250
std,10.764736,38299.422093,2.593286,2.067126,8.74133,2.446356,14.860104,6.264674,6.742179,3.835971,...,0.243036,0.459235,0.498533,0.479019,0.499461,0.391598,0.322266,0.309977,0.351233,0.454799
min,14.000000,7005.930000,0.000000,0.000000,1.00000,0.000000,-5.000000,0.000000,-6.490000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,24.000000,19342.972500,3.000000,4.000000,7.00000,2.000000,10.000000,9.000000,5.340000,3.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,33.000000,36999.705000,5.000000,5.000000,13.00000,3.000000,18.000000,14.000000,9.400000,5.000000,...,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,42.000000,71683.470000,7.000000,7.000000,20.00000,5.000000,28.000000,18.000000,14.850000,8.000000,...,0.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000
max,56.000000,179987.280000,11.000000,11.000000,34.00000,9.000000,67.000000,28.000000,29.980000,17.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [106]:
features_cleaned.to_csv('cleaned_training_df.csv')

In [107]:
target.to_csv('target_df.csv')